<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Passes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'base.html'%}
    <div class="container">
        <!-- {% block content %} -->
        <header>
            <h1 id="title"></h1>
            <div class="user-info">
                <h1>Hey, {{name}}</h1>
                <button class="sign-out-btn">Sign out</button>
            </div>
        </header>
        <section class="intro-section">
            <h1>Collect Your Passes Here.</h1>
        </section>
        <section class="pass-section">
            <img src="{{ url_for('static', filename='images/2.png') }}" alt="Downlaodable image" id="image" width="200" >
            <a href="/download-image">
                <button>Download Image</button>
            </a>
        </section>

    </div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- {% endblock %} -->
</body>
</html>